/*---------------
    VARIABLES
---------------*/
:root{

    // COLORS
    --primary-color: #2e3a46;
    --secondary-color: #1e2d3b;


    // SPACES
    --padding-small: .3125rem;
    --padding-small-top-bottom: 0rem .3125rem;
}